@{
    ViewBag.Title = "Questionário";
}

<h2>Orçamento de Projetos</h2>

<p>Precisando de um projeto de software? Temos a solução por um preço justo!</p>

@Html.ActionLink("Solicite um orçamento grátis","Questionario")