@*@{
    ViewBag.Title = "Index";
}

<h2>Clinica</h2>

@Html.ActionLink("Cadastro do Paciente", "CadPaciente", "Clinica")
<br />
@Html.ActionLink("Cadastro do Médico", "CadMedico", "Clinica")
<br />
@Html.ActionLink("Cadastro da Especialidade", "CadEspecialidade", "Clinica")
<br />*@