@{
    ViewBag.Title = "Recursos ADM";
}

    <div class="jumbotron" style="background-color: #334c64">
        <h1 class="display-4"><span style="color:white">@ViewBag.Message</span></h1>
         <hr class="my-4" style="background-color:white">
           <p class="lead">
            <img src="~/Imagens/admdog.png" style="position:fixed;right:0;bottom:1px;height:300px"/>
        </p>
    </div>
