@model IEnumerable<ProjetoVeterinaria.Models.modelTipoAnimal>

@{
    ViewBag.Title = "Listar Tipo Animal";
}
<br />
<div class="">
    <div class="col-lg-12">
        <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Espécie: @Html.DisplayFor(modelItem => item.tipoAnimal)</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Código da Espécie: @Html.DisplayFor(modelItem => item.codTipoAnimal)</li>
                    </ul>
                    <div class="card-body">
                        @Html.ActionLink("Atualizar", "editarTipoAnimal", new { id = item.codTipoAnimal }) |
                        @Html.ActionLink("Excluir", "excluirTipoAnimal", new { id = item.codTipoAnimal }, new { onclick = "return confirm('Deseja realmente excluir?');" })

                        @*<a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
